In [1]:
import pandas as pd
import altair as alt

In [2]:
df = pd.read_csv("data/tick/2023-05-04/funds/Ticker.csv")

In [3]:
df.head()

,S.No.,Stock Name,_,q1,q2,q3,q4,q5,Value
0,1,ADF Foods Ltd.,1.58,1.51,-,1.51,1.51,25.55,abakkus-fund-sunil-singhania
1,2,AGI Greenpac Ltd.,1.86,1.86,1.86,1.86,1.86,49.68,abakkus-fund-sunil-singhania
2,3,Carysil Ltd.,-,6.14,6.14,6.14,6.05,95.77,abakkus-fund-sunil-singhania
3,4,DCM Shriram Industries Ltd.,2.98,2.98,2.98,2.98,2.98,18.13,abakkus-fund-sunil-singhania
4,5,H.G. Infra Engineering Ltd.,1.49,1.51,1.51,1.52,1.52,89.33,abakkus-fund-sunil-singhania